In [6]:
import pandas as pd

In [18]:
#After over sampling the data, We have got the final data

data = pd.read_csv('/Users/abhisheksharma/Documents/Data Science Projects/Project-05-Dynamic-Pricing-Engine-for-E-Commerce/Data/Fashion_Retail_Sales_Combined.csv')
data

,customer_reference_id,item_purchased,purchase_amount_(usd),date_purchase,review_rating,payment_method
0,4092,Polo Shirt,200.00,2022-10-02,1.8,Credit Card
1,4108,Handbag,50.00,2022-10-02,2.1,Credit Card
2,4020,Loafers,110.00,2022-10-02,1.3,Credit Card
3,4071,Raincoat,193.00,2022-10-02,3.9,Credit Card
4,4014,Tank Top,99.00,2022-10-02,1.2,Cash
...,...,...,...,...,...,...
7050,2414,Socks,687.65,2024-10-01,3.4,Debit Card
7051,1137,Wallet,150.49,2024-10-01,5.0,Digital Wallet
7052,3290,Wallet,5.00,2024-10-01,2.7,Debit Card
7053,2379,Belt,69.30,2024-10-01,4.1,Cash
7054,4579,T-Shirt,225.04,2024-10-01,3.5,Cash